@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg_light: #FAFAF9;
    --dark: #1B1917;
    --text_color: #474540;
}

body {
    @apply bg-light text-textColor;
    font-size: 20px;
}


h1, h2, h3, h4, h5, h6 {
    @apply text-primary;
    font-family: "Syne", sans-serif;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1px;
}

.container {
    @apply mx-auto px-4 md:px-8 lg:px-16 xl:px-24;
}

.py-section {
    @apply py-[120px];
}

.content-w {
    @apply p-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl;
}

.btn {
    @apply inline-block px-6 py-3 bg-primary rounded-lg shadow-lg text-light;
}

.btn_outline {
    @apply border border-primary bg-transparent rounded-lg text-primary;
}

.form-label  {
    @apply block text-primary text-sm font-bold mb-2;
}
.form-input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-primary leading-tight ;
}
